@use "../../App.scss" as g;

.img-box{
    border: 1px solid #ccc;
    aspect-ratio: 1/1;
    padding: 50px;
    text-align: center;
}

.text-box{
    >div{
        @include g.myFlex();
        margin-top: 10px;
        span{
            // font-weight: 1.5rem;
            color: red;
        }
    }
}