/* 전체선택자 */
/* 전체 글자를 모두 선택해서 파란색으로 변경 */
/* 색상명 blue */
* {
    color: blue;
}



/* p 태그를 선택해서 회색 입력 - 16진수 이용 */
p {
    /* color: #555555; */
    color: #555;
}



/* 클래스 선택자 */
/* 클래스 color3을 선택해서 글자색을 빨강 - 16진수 */
.color3{
    color: #b40000;
}


/* 클래스 color를 모두 선택해서 글자색 변경 */
/* 10지수 기법,  
RGB {빨강, 초록, 파랑}: 0~255
                       0: 색상 없음 - 검정
                       255: 모두 흰색 */


.color {
    color: rgb(0, 204, 255);

}

/* 아이디 선택자 - #으로 입력 */
#idColor {
    color: salmon;
}