/* h1을 선택하여 글씨체를 궁서체로 변경
 */



 p {
    
    font-size: 35px;

 }
h1 {

    font-family: 궁서, serif;
}



/* 클래스 text1을 선택하여 굴림체로 변경 */

.text1{
    font-family: 굴림;
}

.text2{
    color: blue;
    font-family: subway;
}

.text3{
    color: blue;
    font-family: "Playwrite HU", cursive;
}