/* 모든 div는 높이가 500px */


div {
    height: 500px;
    background-color: #ddd;
}


.title {
    font-size: 60px;
}


.section2 {
    background-image: url(../img/250700_캠핑기획전_메인상단배너_PC.jpg);

    background-attachment: fixed;

}