/* ul > li {
    text-decoration: none;
    list-style: none;
 
    background-image: url(../img/icon_quickmenu.png);
    width: 70px;
    height: 70px;

} */


ul > li {
    list-style: none;
    margin: 20px 0;
}

/* .quick-list > .q1 > a {
display: block;
width: 70px;
height: 70px;
border: 1px solid black;
background-image: url(../img/icon_quickmenu.png);
}

.quick-list > .q2 > a {
display: block;
width: 70px;
height: 70px;
border: 1px solid black;
background-image: url(../img/icon_quickmenu.png);
background-position: -70px 0;
}

.quick-list > .q3 > a {
display: block;
width: 70px;
height: 70px;
border: 1px solid black;
background-image: url(../img/icon_quickmenu.png);
background-position: -140px 0;
}

.quick-list > .q4 > a {
display: block;
width: 70px;
height: 70px;
border: 1px solid black;
background-image: url(../img/icon_quickmenu.png);
background-position: -210px 0;
} */

.quick-list > li > a {
    display: block;
    width: 70px;
    height: 70px;
    background-image: url(../img/icon_quickmenu.png);
}

.quick-list > .q2 > a {
    background-position: -70px 0;
}

.quick-list > .q3 > a {
    background-position: -140px 0;
}

.quick-list > .q4 > a {
    background-position: -210px 0;
}
