li {
    list-style: none;
}

.icon_list > li > a {
    display: block;
    width: 60px;
    height: 60px;
    background-color: #eee;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 50%;

}
.icon_list > li > a:hover{
    background-color: dodgerblue;
}


.icon_list > .icon1 > a {
    background-image: url(../img/icon_set_011.png);
}


.icon_list > .icon2 > a {
    background-image: url(../img/icon_set_022.png);
}


.icon_list > .icon3 > a {
    background-image: url(../img/icon_set_077.png);
}


.icon_list > .icon4 > a {
    background-image: url(../img/icon_set_01111.png);
}