* {
    margin: 0;
    padding: 0;
}

/* border > span 에 구분선 오른쪽  */
.border > span {
    display: inline-block;
    border-right: 1px solid red;
    background:skyblue;
    line-height: 10px;
    padding-right: 20px;
    margin-right: 20px;
}

.border2 > span::after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 5px;
    background: red;
}