* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #1c1c1c;
}

header {
    display: block;
    background: #eee;
    
}
.main_menu {
    text-align: center;
}

.main_menu > li {
    display: inline-block;
    margin: 0 30px;
    width: ;
}

.main_menu > li > a {
    display: block;
    font-size: 18px;
    font-weight: 600;
    padding: 30px 0;
}

.depth1 {
    display: none;
    position: absolute;
}


/* .main_menu:hover .depth1 {
    display: block;

} */

.main_menu > li:hover > .depth1 {
     display: block;
    
}
