.wrap{
    width: 800px;
    background: pink;
    display: flex;
}


.wrap > div {
    height: 100px;
    border: 2px solid black;
    justify-content: space-between;
}


.wrap > .box1 {
    width: 24%;
    
}

.wrap > .box2 {
    width: 48%;
    order: 2;
}

.wrap > .box3 {
    width: 24%;
    order: 1;
}
