html {
    font-size: 10px;
}


.box {
    width: 400px;
    height: 260px;
    border-radius: 40px;
    background: pink;
    margin: 5%;
    position: relative;
}

.box .c_more {
    width: 7.5rem;
    height: 7.5rem;
    background: white;
    position: absolute;
    right: 0;
    bottom: 0;
    border-radius: 40px 0;
    border: 1px solid black;
    
}


.box .c_more::before {
    content: "";
    display: block;
    /* background: #acacac; */
    width: 80px;
    height: 80px;
    border-radius: 50px;
    position: absolute;
    right: 75px;
    bottom: 0;
    box-shadow: 40px 40px 0 blue ;
    border: 1px solid black;
}


.box .c_more::after {
    content: "";
    display: block;
    /* background: #acacac; */
    width: 80px;
    height: 80px;
    border-radius: 50px;
    position: absolute;
    bottom: 75px;
    right: 0;
    box-shadow: 40px 40px 0 blueviolet ;
     border: 1px solid black;




}