.vision-wrap{}

.vision-wrap .inner {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}


.vision {
    background-color: #ff2626;
    border-radius: 30px;
    padding: 22px;
    height: 580px;
    flex: 0 0 5%;
    transform: 0.3s;
}

.vision.active {
    background-color: #d9d9d9;
    flex: 0 0 50%;
}


.vision span {
    display: block;
    width: 68px;
    height: 68px;
    background: rgba(255,255,255,0.8);
    border-radius: 50%;
    text-align: center;
    line-height: 68px;
}