/* 공통 */
/* 여백 */
* {
    margin: 0;
}

/* li 장식 제거 */
li {
    list-style: none;
}

/* a 글자색 및 밑줄 제거 */
a {
    text-decoration: none;
    color: unset;
}



/* 이미지 위아래 정렬, max-width */
img {
    vertical-align: middle;
}

/* 기울기 */
address,
i,
em {
    font-style: normal;
}

/* blind */
.blind {
    position: absolute;
    top:-99999px
}
/* 바디에 글씨체, 글자 크기,  글자 색상 */

body{
    font-family: "돋움",dotum,sans-serif;
    font-size: 16px;
    color: unset;

}